 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     background-color: black;
 }
 
 .wrapper {
     padding: 20px;
 }
 
 header div,
 .nav ul {
     display: flex;
     justify-content: space-evenly;
     padding: 5px;
 }
 
 .info {
     background-color: rgb(37, 129, 235);
 }
 
 .info div {
     border: 1px white solid;
 }
 
 .info div a {
     text-decoration: none;
 }
 
 .nav {
     background-color: white;
 }
 
 .nav a {
     text-decoration: none;
 }
 
 .nav li {
     margin-left: 80%;
     list-style: none;
 }
 
 .nav li {
     border: 1px white solid;
 }
 
 .showcase {
     height: 100vh;
     background-color: rgb(37, 129, 235);
     border: 1px white solid;
 }
 
 .showcase div {
     display: flex;
     flex: 200px;
 }
 
 section {
     border: 1px white solid;
     background-color: white;
 }