.root{
//-fx-background-image: url(img/bk.gif);
//-fx-background-repeat: no-repeat;
//-fx-background-size: 100% 100%;
-fx-background-color: linear-gradient(#0082ac,#004271,#00172B);
//-fx-background-color: #006181;
}
OptionButton{
-fx-background-image:url(img/default.png);
-fx-alignment:center;
-fx-text-fill:#ffffff;
-fx-padding:3 30 3 30 ;
}

OptionButton:hover{
-fx-background-image:url(img/hover.png);
-fx-text-fill:#faff6a;
}
#checkingAnswer{
-fx-background-image:url(img/checking.png);
-fx-text-fill:#333;
}
#wrongAnswer{
-fx-background-image:url(img/wrong.gif);
}
#rightAnswer{
-fx-background-image:url(img/right.gif);
}

#PriceTable{
-fx-padding: 5 0;

-fx-border-style: solid;
-fx-border-width: 3;
-fx-border-color: white;
-fx-border-insets:5 5 0 0;
-fx-border-radius: 10;

-fx-background-insets:5 5 0 0;
-fx-background-radius:10;
-fx-background-color: rgb(0,0,0,0.3);

}
 #vBox {
-fx-background-color: rgb(0,0,0,0.3);
-fx-background-radius: 20;
}