
footer{
	background-color: darkgrey;
	padding: 10px 0;
	color: black;
}
/* container in horizontal and space between them evenly */
.info-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 10px;
}
/* adjust the container to the screen */
.info-container > div {
	margin: auto 0px;
	flex-wrap: wrap;
	padding: 5px;
	flex: 1;
}
/* align text and container in center */
.copyright{
	text-align: center;
	border-bottom: 1px black solid;
	justify-content: center;
}
/* give container some space around element */
.copyright div{
	padding: 5px;
}
/* container lay in vertical */
.footer-navigation{
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* lay container in horizontal and with 2 containers each column */
.more-info{
	display: grid;
	grid-template-columns: 0.2fr 0.3fr;
	grid-gap: 2px;
}
/* adjust position */
.fa-phone-volume{
	margin-top: 77px;
}
/* adjust position */
.fa-envelope{
	margin-top: 60px;
}
/* adjust image */
.developer-img img{
	border-radius: 50%;
	border: 1px solid #fff;
	width: 70px;
	height: 70px;
}
/* remove links decoration */
.links{
	text-decoration: none;
}
.links a{
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 15px;
}
.links a:hover{
	color: rgb(139, 51, 0);
}
.link{
	list-style: none;
}

/* responsive */
@media screen and (max-width: 1024px) {
	.developer-img img{
		width: 50px;
		height: 50px;
	}
	.text-info h4,.text-info h5,.text-info p,.termandcondition{
		font-size: 13px;
	}
	.fa-phone-volume{
		margin-top: 67px;
	}
	.fa-envelope{
		margin-top: 52px;
	}
	.link a{
		font-size: 12px;
	}
}

/* responsive for phones */
@media screen and (max-width: 768px) {
	.developer-img img{
		width: 40px;
		height: 40px;
	}
	.text-info h4,.text-info h5,.text-info p,.termandcondition{
		font-size: 11px;
	}
	.fa-phone-volume{
		margin-top: 52px;
	}
	.fa-envelope{
		margin-top: 45px;
	}
	.link a{
		font-size: 9px;
	}
}
/* To top button style (The button that scrolling to the top of the page)*/
#toTop a{
    background-color: #00000090;
    color: #00d6a0;
    border-radius: 100%;
    text-align: center;
    border:3px solid #00d6a0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    line-height: 50px;
    font-size: 35px;
}
#toTop a:hover{
    background-color: #00d6a0;
    color: #00000090;
}
/* Make the button responsive */
@media screen and (min-width: 1151px) {
	#toTop a{
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 35px;
	}
}
@media screen and (max-width: 1150px) {
	#toTop a{
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 20px;
	}
}
