/* import the style from nav.css and footer.css */
@import url("nav.css");
@import url("footer.css");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	color: white;
	background: radial-gradient(rgb(31, 104, 163), rgb(23, 70, 122), rgb(10, 15, 36));
}
section
{
	width: 100%;
	margin: auto;
}
/* showcase in section, aligning container in horizontal */
.presentation {
    min-height: 100vh;
    display: flex;
	align-items: center;
	padding: 5%;
}
/* give some space between the container inside presentation container */
.presentation div {
	flex: 1;
}
/* style text */
.intro-text h1 {
	font-size: 40px;
	font-weight: 400;
	background: linear-gradient(to right, rgb(255, 255, 255), #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*add style to p in section*/
.intro-text p {
	margin-top: 5px;
	font-size: 20px;
    color: white;
    position: relative;
}
/* play button */
.btn{
    display: inline-block;
    border: none;
    background-color: rgb(72, 202, 137);
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
	transition: opacity 1s ease-in;
	border-radius: 10px;
}
/* take away the underline*/
.btn a{
	text-decoration: none;
}
.btn:hover{
    opacity: 0.6;
}
/* adjust container */
.slidshow-container{
	position: relative;
	margin: 50px auto;
}
/* style container1 */
.container1{
	background-color: white;
	width: 100%;
	padding: 5% 15% 5% 15%;
	border-bottom: 10px #083f4e solid ;
}
/* style container */
.container2{
	background-color: rgb(221, 218, 218);
	width: 100%;
	padding: 5% 15% 5% 15%;
	border-bottom: 10px #083f4e solid ;
}
/* choose third container of container1 */
.container1:nth-child(3n){
	border-bottom: none;
}
.container1 > div, .container2 > div{
	border-bottom: 2px #083f4e solid;
}
/*  aligning item in horizontal and at the center of the container */
.inner-container {
	display: flex;
    margin: auto;
	justify-content: center;
}
.inner-container h4{
	flex: 0.8;
	padding: 5px;
}
.inner-container a{
	flex: 1;
}
/* style h4 */
.inner-container h4{
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(to right, #32a2d6,#083f4e , #022833);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* responsive */
@media screen and (max-width: 1024px) {
	.presentation {
		min-height: 80vh;
    	display: flex;
		align-items: center;
	}
	.btn h3{
		font-size: 22px;
	}
	.intro-text h1{
		font-size: 25px;
	}
	.intro-text p{
		font-size: 13px;
	}
	.slideshow-container > div{
		display: flex;
		margin: auto;
		justify-content: center;
	}
	.mySlides img,.cover1 img {
		height: 100%;
		width: 100%;
	}
	.container1 img,.container2 img{
		height: 70%;
		width: 70%;
	}
	.container1 > div, .container2 > div{
		display: flex;
		margin: auto;
		align-items: center;
	}
	.inner-container h4{
		font-size: 15px;
	}
}
/* responsive for mobel */
@media screen and (max-width: 768px){
	.presentation{
		min-height: 70vh;
	}
	.btn{
		padding: 0.5rem 1.0rem;
	}
	.btn h3{
		font-size: 18px;
	}
	.intro-text h1 {
		font-size: 20px;
	}
	.intro-text p {
		font-size: 8px;
	}
	.container1 h3,.container1 p{
		font-size: 10px;
	}
	.container2 h3,.container2 p{
		font-size: 10px;
	}
	.inner-container h4{
		font-size: 12px;
	}
}
@media screen and (max-width: 320px){
	.presentation{
		min-height: 50vh;
	}
	.btn{
		padding: 0.3rem 0.7rem;
	}
	.btn h3{
		font-size: 5px;
	}
	.intro-text p {
		font-size: 6px;
	}
	.container1 h3,.container1 p{
		font-size: 6px;
	}
	.container2 h3,.container2 p{
		font-size: 6px;
	}
	.inner-container h4{
		font-size: 8px;
	}
}

