body {
	font-family: 'Poppins', sans-serif;
}
/* wrapper container, aligning item on top of each other */
.wrapper
{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	margin-top: 8vh;
	text-align: center;
	position: relative;
}
/* make a box to wrapper container and place it at bottom of wrapper container */
.wrapper::after{
	position: absolute;
	width: 14px;
	height: 14px;
	top: 100.5%;
	left: 50%;
	margin-left: -25px;
	margin-top: -16px;
	content: "";
	transform: rotate(45deg);
	background-color:  #ecfcff;
}
/* make space for "About us" */
.wrapper h4{
	padding: 40px 0;
    background-color: #ecfcff;
    color: #000;
}
/* align element in center and display flex in column so element lay on top of each other */
.intro-aboutus {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px white solid;
	position: relative;
	color: white;
	background-color: #46b3e6;
	padding: 5px;
}
/* give p container 50% width */
.intro-aboutus p{
	width: 50%;
}
/* create a box */
.intro-aboutus::after{
	position: absolute;
	width: 14px;
	height: 14px;
	top: 100%;
	left: 50%;
	margin-top: -8px;
	content: "";
	transform: rotate(45deg);
	background-color:  #46b3e6;
}
/* layout for main container */
.main-content{
	display: grid;
	grid-template-columns: 40% 40%;
	grid-gap: 20px;
	justify-content: center;
	color: black;
	background-color: #ecfcff;

}
/* give space for main-content */
.main-content div{
	width: 100%;
}
/* layour for content for inside imgshow container */
.imgshow{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 50%;
}
/* give image a cirkle shape */
.inner-img1 img, .inner-img2 img{
	border-radius: 50%;
}
/* layout for content inside location container */
.location {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* layout for container inside location container */
.location div{
	width: 70%;
	margin: 0 auto;
}
/* Responsive for mobel */
@media screen and (max-width: 768px) {
	.intro-aboutus h3,.intro-aboutus p{
		font-size: 80%;
	}
	.wrapper h4{
		font-size: 80%;
	}
	.main-content{
		grid-gap: 10px;
	}
	.outer-img1 img{
		width: 20%;
		height: 10%;
	}
	.inner-img1 img{
		width: 30%;
		height: 15%;
	}
	.outer-img2 img{
		width: 20%;
		height: 10%;
	}
	.inner-img2 img{
		width: 30%;
		height: 15%;
	}
	.location h5{
		font-size: 80%;
	}
	.location div{
		font-size: 70%;
	}
}