@import url("nav.css");
@import url("footer.css");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	color: white;
	background: radial-gradient(rgb(31, 104, 163), rgb(23, 70, 122), rgb(10, 15, 36));
}
section
{
	width: 100%;
	margin: auto;
}
/* showcase in section */
.presentation {
    min-height: 100vh;
    display: flex;
	align-items: center;
	padding: 5%;
}
/* give some space between the container inside presentation container */
.presentation div {
	padding: 2px;
	padding: 10px;
}
.intro-text h1 {
	font-size: 40px;
	font-weight: 400;
	background: linear-gradient(to right, rgb(255, 255, 255), #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*add style to p in section*/
.intro-text p {
	margin-top: 5px;
	font-size: 20px;
    color: white;
    position: relative;
}
.btn{
    display: inline-block;
    border: none;
    background-color: rgb(72, 202, 137);
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
	transition: opacity 1s ease-in;
	border-radius: 10px;
}
/* take away the underline*/
.btn a{
	text-decoration: none;
	font-size: 25px;
}
.btn:hover{
    opacity: 0.6;
}
/*button to change background color*/
.slidshow-container{
	position: relative;
	margin: 50px auto;
}
.container1{
	background-color: white;
	width: 100%;
	padding: 5% 15% 5% 15%;
	border-bottom: 10px #083f4e solid ;
}
.container2{
	background-color: rgb(221, 218, 218);
	width: 100%;
	padding: 5% 15% 5% 15%;
	border-bottom: 10px #083f4e solid ;
}
.container1:nth-child(3n){
	border-bottom: none;
}
.container1 > div, .container2 > div{
	border-bottom: 2px #083f4e solid;
}
.inner-container {
	display: flex;
    margin: auto;
	justify-content: center;
}
.inner-container > div{
	padding: 10px;
}
.text h4{
    font-size: 25px;
    font-weight: 500;
    background: linear-gradient(to right, #32a2d6,#083f4e , #022833);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1024px) {
	.presentation {
		min-height: 70vh;
    	display: flex;
		align-items: center;
	}
	.intro-text h1{
		font-size: 25px;
	}
	.intro-text p{
		font-size: 13px;
	}
	.slideshow-container > div{
		display: flex;
		margin: auto;
		justify-content: center;
	}
	.mySlides img,.cover1 img {
		height: 100%;
		width: 100%;
	}
	.container1 img,.container2 img{
		height: 70%;
		width: 70%;
	}
	.container1 > div, .container2 > div{
		display: flex;
		margin: auto;
		align-items: center;
	}
	.inner-container > div{
		padding: 5px;
	}
	.text h4{
		font-size: 20px;
	}
}
@media screen and (max-width: 768px){
	.presentation{
		min-height: 60vh;
	}
	.intro-text h1 {
		font-size: 20px;
	}
	.intro-text p {
		font-size: 8px;
	}
	.container1 h3,.container1 p{
		font-size: 8px;
	}
	.container2 h3,.container2 p{
		font-size: 8px;
	}
	.text h4{
		font-size: 13px;
	}
}

