@import url("nav.css");
@import url("footer.css");
/* set margin and padding to 0px to all elements */
* {
	margin: 0px;
	padding: 0px;
}
html,body{width:100%;height: 100%;scroll-behavior: smooth;}
body {
	font-family: 'Poppins', sans-serif;
	color: white;
	background: radial-gradient(rgb(31, 104, 163), rgb(23, 70, 122), rgb(10, 15, 36));
}

section
{
	width: 85%;
	margin: auto;
}

/*showcase in rulepage*/
.presentation-rulepage{
	min-height: 70vh;
    display: flex;
	align-items: center;
}
/* give some space between the container inside presentation container */
.presentation div {
	padding: 2px;
}
.space-between-nav-and-section-in-rulespage{
	height: 20vh;
}
/*add style to h1 in section*/
.intro-text h1 {
	font-size: 45px;
	font-weight: 400;
	background: linear-gradient(to right, rgb(255, 255, 255), #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*add style to p in section*/
.intro-text p {
	margin-top: 5px;
	font-size: 22px;
    color: white;
    position: relative;
}
/* this container in relative position so that the image inside the container could adjust */
.slidshow-container{
	position: relative;
    margin: 50px auto;
}
/* style the container */
.container{
	margin-top: 15vh;
	background-color: white;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.container > div{
	width: 80%;
	border: 1px white solid;

}
/* aligning container in horizontal */
.inner-container {
    display: flex;
    margin: auto;
	align-items: center;
}
/* give some spaces for container inside inner-container */
.inner-container > div{
	margin-top: 20px;
	padding: 10px;
}
/* style all the h3 inside h3 */
.inner-container h3{
    font-size: 30px;
    font-weight: 400;
    background: linear-gradient(to right, #32a2d6,#083f4e , #022833);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* style all p-tagg inside inner-container */
.inner-container p{
    margin-top: 5px;
	font-size: 20px;
    color: #585772;
}
.text p{
	font-size: 15px;
}

/* responsive */
@media screen and (max-width: 1270px) {
	.presentation-rulepage{
		min-height: 50vh;
	}
	.intro-text h1{
		font-size: 30px;
	}
	.intro-text p{
		font-size: 16px;
	}
	.slideshow-container > div{
		display: flex;
		margin: auto;
		justify-content: center;
	}
	.mySlides img,.cover1 img {
		height: 100%;
		width: 100%;
	}
	.container img{
		height: 100%;
		width: 100%;
	}
	.container > div {
		display: flex;
		margin: auto;
		align-items:center;
	}
	.inner-container > div{
		padding: 5px;
	}
	.text h3{
		font-size: 15px;
	}
	.text p{
		font-size: 12px;
	}
}
/* responsive for mobel */
@media screen and (max-width: 768px){
	.presentation-rulepage{
		min-height: 30vh;
	}
	.intro-text h1 {
		font-size: 20px;
	}
	.intro-text p {
		font-size: 13px;
	}
	.container h3,.container p{
		font-size: 8px;
	}
	.text h3{
		font-size: 11px;
	}
	.text p{
		font-size: 9px;
	}
}
@media screen and (max-width: 320px){
	.presentation-rulepage{
		min-height: 20vh;
	}
	.intro-text h1 {
		font-size: 14px;
	}
	.intro-text p {
		font-size: 6px;
	}
	.text h3{
		font-size: 7px;
	}
	.text p{
		font-size: 5px;
	}
		
}